body {
    background: $body-bg;
    font-family: $font-family-base;
    color: $dark;
    @media(min-width: 768px) {
        overflow-x: auto;
    }
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: $font-size-base;
    & > li {
        display: block;
    }
}

a {
    text-decoration: none;
    color: $primary;
    outline: 0;
}

:focus {
    outline: transparent;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
    font-weight: $font-weight-black;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
    color: $dark-gray;
    font-weight: $font-weight-black;
    margin-bottom: $h6-font-size;
}

p {
    font-size: $font-size-base;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4 {
    font-family: $font-family-headings;
    text-transform: none;
    font-weight: $font-weight-normal;
}

h3, h5, h6 {
    text-transform: uppercase;
}

small {
    font-size: $font-size-sm;
}

select {
    color: $gray;
    padding: 0 10px;
    width: 100%;
    height: calc(2.25rem + 12px);
    border: none;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    position: relative;
    outline: 0;
    &:defined {
        color: $gray;
    }
    &:focus,
    &:active {
        color: $dark;
        outline: 0;
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

// TODO select is gray once it's deselected. active, clicked, etc. is dark. no seleciton is gray.
label {
    color: $dark-gray;
    padding: 0 0 15px 0;
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0;
}

input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]) {
    width: 100%;
    border: none;
}

textarea {
    width: 100%;
    border: none;
    resize: vertical;
    line-height: 1.4;
    max-height: 300px;
    min-height: 50px;
}

input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
textarea {
    padding: 12px 10px;
    line-height: $font-size-base;
    &::placeholder {
        color: $placeholder;
    }
}

input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
textarea,
select {
    font-family: $font-family-base;
    font-size: $font-size-base;
    border-bottom: 2px solid $light-gray;
    background-color: transparent;
    @include transition(background-color 0.2s);
    &:active,
    &:focus {
        background-color: $light-gray;
    }
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    width: 13px;
    height: 13px;
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid $border;
    display: block;
    margin: 20px 0px 20px;
}

svg {
    color: $dark-gray;
    width: 18px;
    @include transition(color 0.2s);
    &:hover {
        color: $primary;
    }
}
