// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Muli:400,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.t-hero {
	font-size: $hero-font-size;
	font-weight: $font-weight-black;
	font-family: $font-family-headings;
}
