.m-flex {
	display: flex;
}
%m-outline {
	background: transparent;
	border-color: $primary;
	color: $primary;
	&:hover {
		background: $primary;
		color: #fff;
	}
}
%m-sm {
	font-size: $font-size-sm;
    &.avatar{
        width: rem(40px);
        height: rem(40px);
    }
}
%m-xs {
	font-size: $font-size-xs;
}
%m-md {
	font-size: $font-size-base;
	padding: 12px 20px;
	border-radius: rem(6px);
	margin-top: 5px;
	margin-bottom: 5px;
}
%m-lg {
	font-size: rem(18px);
	padding: 15px 30px;
	border-radius: rem(6px);
	margin-top: 5px;
	margin-bottom: 5px;
}
.m-outline {
	@extend %m-outline;
}
.m-sm {
    @extend %m-sm;
}
.m-xs {
	@extend %m-xs;
}
.m-md {
	@extend %m-md;
}
.m-lg {
	@extend %m-lg;
}
.secondary {
	@include color_modifier($secondary);
}
.success {
	@include color_modifier($success);
}
.warning {
	@include color_modifier($warning);
}
.danger {
	@include color_modifier($danger);
}
.gray {
	@include color_modifier($gray);
}
.m-code{
	&.footer{
		background:$code-bg;
		border-color:$code-bg;
		font-size: $font-size-xs;
		text-align: left;
		pre{
			margin-bottom: 0px;
		}
	}
}
.m-right{
	&.c-modal{
		& > .modal-content {
			margin: 0 auto;
			position: absolute;
			top:0;
			bottom: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			&> .content{
				flex-grow: 1;
			}
			&> .footer{
				margin-top: auto;
			}
		}
	}
}