.navbar-top {
  border-bottom:1px solid #e3ebf6;
  padding:10px;
  background:$sidebar-bg;
  .navbar-brand {
    padding-top:2px !important;
    padding-bottom:0;
    display: inline-block;
  }
  .navbar-breadcrumb{
    padding: 0;
    font-size: 14px;
    color: #ccc !important;
    font-weight: normal;
    display: block;
      a {
          font-weight: 300;
          color:theme-color("gray-600");
      }
  }

    #menu-toggle{
        display: block;
        @media (min-width: 768px){
            display: none;
        }
    }
}
