body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 0px;
    }
    &.toggled {
        padding-left: 250px;
        #sidebar-wrapper {
            width: 250px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
    }
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        overflow-x: hidden;
        background: $sidebar-bg;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-right: 1px solid $border-color;
    }
}

/* Sidebar Styles */

.sidebar-nav {
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
    > li {
        text-indent: 20px;
        line-height: 40px;
        ul.subnav {
            padding-left: 30px;
            li {
                line-height: 35px;
                a {
                    font-size: 13px;
                }
            }
        }
    }
}

.sidebar-nav .link-item.has-subnav-items [data-toggle=collapse]:after {
    font-family: Feather;
    display: block;
    margin-left: auto;
    content: "\e92e";
    transition: all .2s ease-in-out;
    color: theme-color("gray-600");
    transform-origin: 78% 50% 0;
    z-index: 666;
}

.sidebar-nav .link-item.has-subnav-items [data-toggle=collapse][aria-expanded=true]:after {
    transform: rotate(-180deg);
}



.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 65px;
    padding: 0 20px;
    background: $sidebar-bg;
    display: block;
    color: #fff !important;
    margin-bottom: 15px;
    text-align: center;
    &:hover {
        color: #95aac9;
        text-decoration: none;
    }

    img{
        margin:15px auto;
        max-height: 50px;
    }
}

@media(min-width: 768px) {
    #wrapper {
        padding-left: 0;
        #sidebar-wrapper {
            width: 0;
        }
        #page-content-wrapper {
            position: relative;
        }
        &.toggled {
            padding-left: 250px;
            #sidebar-wrapper {
                width: 250px;
            }
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
    }
}

@mixin link-item($size: 14, $color: #c5d0e1) {
    a {
        color: theme-color("gray-800");
        font-weight: 400;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: .1rem 1.5rem;
        transition: all .3s;
        &:hover {
            color: theme-color("dark");
            text-decoration: none;
            &:after{
                color: theme-color("dark") !important;

            }
            svg{
                color:theme-color("primary") !important;
            }
        }

    }
}

.link-item {
    @include link-item();
    border-left: solid 3px transparent;
    &.has-subnav-items {
        &.show {
            background: $sidebar-bg-hover;
            border-left: solid 3px theme-color("primary");
            padding-bottom: 5px;
            svg{
                color:theme-color("primary") !important;
            }
        }
    }
    &:hover {
        text-decoration: none;
        color: theme-color("dark");
        background: $sidebar-bg-hover;
        border-color: #007bff;
        transition: all .3s;

    }
    &:active, &:focus {
        text-decoration: none;
    }
    .feather {
        position: relative;
        width: 18px;
        height: 18px;
        margin-right: 13px;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
    }
}

.subnav-link-item {
    @include link-item();
    a{
        padding-left:5px;
    }

}

.nav-section-header {
    color: #7f8fa4;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 20px 0 5px;
    font-size: .7em;
    display: block;
    font-weight: 700;
}
